<nav class="navbar navbar-light bg-warning p-4 <%= bottom_border ? 'border border-bottom border-dark border-start-0 border-top-0 border-end-0' : '' %>">
  <div class="container-fluid">
    <%= link_to root_path, class: "text-decoration-none text-dark" do %>
      <h2>wäCH</h2>
    <% end %>

    <ul class="navbar-nav ms-auto me-1 d-inline">
      <% if current_author %>
        <li class="nav-item d-inline-block me-2">
          <%= link_to "My Profile", posts_path, class: "nav-link" %>
        </li>

        <li class="nav-item d-inline-block">
          <%= link_to "Sign out", destroy_author_session_path, class: "btn btn-outline-dark rounded-pill", method: :delete %>
        </li>        
      <% else %>
        <% unless sign_up == false %>
          <li class="nav-item d-inline-block">
            <%= link_to "Sign Up", new_author_registration_path, class: "btn btn-outline-dark rounded-pill" %>
          </li>
        <% end %>

        <% unless sign_in == false %>
          <li class="nav-item d-inline-block">
            <%= link_to "Sign In", new_author_session_path, class: "btn btn-outline-dark rounded-pill" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>